<nav>
  <ul class="nav nav-tabs">
   <li class="nav-item">
     <a class="nav-link rounded-0 <% if (currentPage=="index") { %>active<%}%>" href="/">View</a>
   </li>
   <li class="nav-item">
     <a class="nav-link rounded-0 <% if (currentPage=="add") { %>active<%}%>" href="/add">Add</a>
   </li>
 </ul>
</nav>
