<!DOCTYPE html>
<html lang="en">
<% include ../views/head %>

<body>

<% include ../views/nav %>



  <ul class="nav nav-tabs nav-users">
   <li class="nav-item nav-users">
     <a class="rounded-0 nav-link nav-users-link" href="/users/login">Log in</a>
   </li>
   <li class="nav-item nav-users">
     <a class="rounded-0 nav-link active nav-users-link" href="/users/signup">Sign up</a>
   </li>
 </ul>

<div class="container topmargin">
  <div class="container-top">
    <h4>Sign up</h4>
  </div>


    <div class="container">
      <div class="row">
        <div class="col-xs-6 userform margin-right">


      <form method="post">
        <div class="form-group row">
          <label for="category" class="col-sm-2 col-form-label col-form-label-sm">Username</label>
          <div class="col-sm-10">
            <input type="text" class="form-control form-control-sm userforminput float-right" id="username" placeholder="username" name="username">
          </div>
        </div>
        <div class="form-group row">
          <label for="title" class="col-sm-2 col-form-label col-form-label-sm">Password</label>
          <div class="col-sm-10">
            <input type="password" class="form-control form-control-sm userforminput float-right" id="password" placeholder="password" name="password">
          </div>
        </div>

            <button type="submit" class="btn btn-secondary btn-sm float-right">Sign up</button>
      </form>
    </div>

    </div>
  </div>
</div>




</body>
</html>
